<% provide(:title, 'Contact') %>

<div class="col-12 d-flex justify-content-center mt-4">
    <div class="card" style="width: 18rem;">
      <%= image_tag("discord.png") %>
      <div class="card-body">
        <h5 class="card-title text-align-center">Contact Me</h5>
        <p class="card-text text-align-justify">
            If you wanna ask me something you can reach out to me via Discord.
        </p>
        <div class="d-flex justify-content-center">
            <a href="https://discord.gg/k4Duxf" class="btn btn-primary text-align-center">Go to Server</a>
        </div>
      </div>
    </div>
</div>