<% provide(:title, 'Contact') %>

<div class="col-12 d-flex justify-content-center mt-4">
    <div class="card" style="width: 18rem;">
      <%= image_tag("discord.png") %>
      <div class="card-body">
        <h5 class="card-title">Contact Me</h5>
        <p class="card-text">
            If you wanna ask me something you can reach out to me via Discord.
            
        </p>
        <a href="https://discord.gg/k4Duxf" class="btn btn-primary">Go to Server</a>
      </div>
    </div>
</div>