<% provide(:title, 'Home') %>

<div class="row mt-4 home-row">
    <div class='col-12 d-flex justify-content-center vertical-align-center'>
        <div class="card mt-2">
            <div class="card-body text-align-center">
                <h5 class="card-title text-darkblue">
                    E-Learning System
                </h5>
                <p class="card-text text-darkblue">
                    Wisdom comes not from age, but from education and learning.
                    Start learning with us now!
                </p>
                 <%= image_tag("home-student-card.png", class: "card-pic") %>
            </div>
        </div>
    </div>
</div>
