<% provide(:title, 'Sign Up') %>

<div class="form">
    <div class="container mt-4 form-container">
        <h1 class="text-center">Sign up</h1>
            <%= render 'form', msg: "Create my Account" %>
        <br>
        <p>Have an account? <%= link_to "Log in here!", login_path %></p>
    </div>
</div>