<% provide(:title, 'Sign Up')%>

<div class="form">
    <div class="container mt-4" style="width: 50%; ">
        <h1 class="text-center">Sign up</h1>
            <%= render 'form' %>
        <br>
        <p>Have an account? <%#= link_to "Log in here!", login_path %></p>
    </div>
</div>