/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import "font-awesome";
 
 $blue: #c2e4e6;
 $darkblue: #4f7779;
 $taupe: #898b80;
 $cream: #e8e098;
 $gray: #e8e098;
 
 
.navbutton{
  border-radius: 5px;
}
 
.nav-item{
  margin: 10px;
}
 
.navbar-brand h3{
  color: $blue !important;
}

#navbarSupportedContent{
  margin-right: 10%
}

.fa-bars{
  color: #4f7779
}

.form-container{
  width: 50%;
}

.form-submit-btn{
  width: 35% !important; 
  margin: auto !important;
}

.btn-info, .btn-primary{
  background-color: $darkblue !important;
  color: $blue !important;
  border: 2px solid $darkblue !important;
}
 
.btn-info:hover, .btn-primary:hover{
  background-color: white !important;
  color: $darkblue !important
}

.page-link{
  color: $darkblue !important;
}

.navbar{
  background-color: $darkblue !important;
}
 
.userbutton{
  background-color: $blue !important;
  color: $darkblue !important;
}
 
.dropdown-item{
  color: $darkblue !important;
}

.jumbotron{
  padding: 30px;
  background-color: $blue !important;
}

.usersheader{
  color: $darkblue;
}

.userlist{
  list-style-type: none;
  padding: 0;
}

.userlist li{
  display: inline-block;
}

.user{
  width: 100%;
  background-color: white;
  color: $darkblue;
  border-radius: 15px;
  padding: 25px;
  margin:10px;
}

.dp{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: auto;
  margin-bottom: auto;  
}

.user-name{
  margin-top: auto;
  margin-bottom: auto;
  border: none
}

.navbar-toggler{
  background-color: white !important;
}

.profile-card{
  color: $darkblue;
}

.profile-pic{
  width: 100%;
  height:300px;
}

.home-pic{
  width: 100%;
  height: 400px
}

.card-pic{
  width: 100%;
  height:300px
}

.vertical-align-center, #user_avatar{
  margin-top: auto;
  margin-bottom: auto;
}

.dp{
  border: 1px solid $darkblue;
  margin: 10px;
}

.text-align-center{
  text-align: center;
}

.card{
  width: 18rem;
}

.width-50{
  width: 50%; 
}