/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import "font-awesome";
 
 $blue: #c2e4e6;
 $darkblue: #4f7779;
 $taupe: #898b80;
 $cream: #e8e098;
 $gray: #e8e098;
 
 
.navbutton{
  border-radius: 5px;
}
 
.nav-item{
  margin: 10px;
}
 
.btn-info{
  background-color: $darkblue !important;
  color: $blue !important;
}
 
.btn-info:hover{
  background-color: white !important;
  color: $darkblue !important
}
 
.navbar{
  background-color: $darkblue !important;
}
 
.userbutton{
  background-color: $blue !important;
  color: $darkblue !important;
}
 
.dropdown-item{
  color: $darkblue !important;
}